html, body {
  width: 100%;
  height: 100%;
}

p{
font-family:  arial, sans-serif;
    font-size: 24px;
}

h1{
font-family: monospace, sans-serif
  
}
/* horizontal rule or ruler line */
hr {
  height: 2px;
  background-color: #56a1e3;
  border: 2px solid black;
      /* size style color */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* anchol element to style links*/

a {
  font-family: monospace, sans-serif;
  font-size: 18px;
  padding: 10px 0px 20px
}

a:link    { color: black;  }
a:visited { color: white;   }
a:hover   { color: red; }
a:active  { color: red;  }


.text-centered {
  text-align: center;
}
/*containers for background colors*/
.dark-background {
  background-color: #105898;
  color: white;
}
/*containers for background colors*/
.light-background {
  background-color: #ebebeb;
  color: #1E1E1E;
}

.wrapper {
  width: 500px;
  margin: auto;
}
.image-container {
float: left;
  padding: 5px 10px 5px 5px;
  width: 320px;
  
}